body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-flex {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Global Header*/
.global-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.global-header form {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

#search-input, #search-button {
    padding: 8px 12px;
    border: 2px solid #000;
}

#search-input:focus {
    border-radius: 0;
    border-color: #000;
    outline: none;
}

.global-header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.global-header nav ul li {
    width: 100%;
}

.global-header nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: #000;
    padding: 6px;
}

#logo img {
    height: 125px;
}

.global-header .icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.global-header .icons a {
    color: #000;
    font-size: 20px;
}

/* Main*/

#banner {
    background-color: #c4c4c4;
    text-align: right;
    padding: 40px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 45px;
}

#banner h2 {
    font-size: 21px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

#banner p {
    font-size: 12px;
    margin-bottom: 20px;
}

#banner-button {
    padding: 10px 6px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: 2px;
    font-size: 13px;
}

#popprodukt h2, .kategorikort h3 {
    font-size: 18px;
}

#popprodukt p {
    font-size: 14px;
    margin-bottom: 20px;
}

.popknapp {
    display: flex;
    justify-content: center;
    gap: 10px;
} 

.popknapp ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    text-align: left;
    color: #000;
    margin-bottom: 30px;
}

.prod-card {
    border: 1px solid #fff;
    padding: 5px;
}

.prod-card h3, .ligprodinfo p {
    font-size: 14px;
}

.prod-card img {
    height: auto;
    display: block;
    width: 100%;
}

.prod-card3 h4, .prod-card h4, .global-header .icons h2, .prod-card4 h4 {
    display: none;
}

.prod-card3 img {
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 3px;
}

#popkategori {
    margin: 20px auto;
    max-width: 600px;
}

#popkategori h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

#popkategori p {
    font-size: 14px;
    margin-bottom: 35px;
}

.kategorikort {
    border: 1px solid #000;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    max-width: 100%;
    box-sizing: border-box;
}

.anmeldelser {
    margin-bottom: 20px;
    padding: 0 10px;
    width: 95%;
}

.anmeldelser h2 {
    font-size: 20px;
    margin-top: 40px;
}

.anmeldkort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.anmeldkort img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    max-width: 150px;
}

.anmeldkort h3 {
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.anmeldkort p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

hr {
    margin: 30px 0;
    color: #9e9e9e;
}

.prod-info {
    padding: 5px;
}

.prod-info h3 {
    font-size: 14px;
    margin: 3px 0;
    padding: 0;
}

.prod-info p {
    font-size: 12px;
    margin: 3px 0;
    padding: 0;
}

.bruker-info h4 {
    margin: 0px;
    font-size: 13px;
}

.bruker-info form {
    display: flex;
    flex-direction: column;
}

.bruker-info label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.bruker-info input {
    padding: 12px 0;
    border: 1px solid #727272;
    width: 100%;
    margin-bottom: 5px;
}

.bruker-info button {
    padding: 12px 2px;
    background-color: #2b2b2b;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid #555555;
    width: 20%;
}

#avbryt {
    background-color: #fff;
    border: none;
    text-decoration: underline;
    color: #0044ff;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
}

.levering h3 {
    font-size: 15px;
}

.levering fieldset {
    border: none;
    padding-left: 0;
    margin-bottom: 25px;
}

.levering label {
    display: flex;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    gap: 5px;
    padding: 2px;
}

.betaling h3 {
    margin: 0;
    font-size: 14px;
}

.betaling label {
    display: block;
    font-size: 12px;
}

.betaling input[type="number"], input[type="date"] {
    padding: 12px 0;
    border: 1px solid #727272;
    width: 100%;
    margin-bottom: 5px;
}

.betaling button {
    background: #444444;
    color: #fff;
    padding: 10px;
}

#cvc, .productin {
    margin-bottom: 25px;
}

.betaling p {
    font-size: 12px;
}

.betaling .info {
    margin: 0;
    margin-bottom: 5px;
    line-height: 0.8;
}

.breadcrumb {
    margin-bottom: 20px;
    margin-top: 35px;
}

.breadcrumb ol {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
}

.breadcrumb li+li:before {
    content: ">";
    margin-right: 0.5rem;
    font-weight: bold;
    color: #000;
}

.merke {
    color: #5f5f5f;
}

.productin p {
    font-size: 16px;
    margin: 12px 0;
}

.ligprod {
    margin-top: 30px;
    padding: 20px;
}

.ligprod h2 {
    font-size: 20px;
    margin-bottom: 25px;
}

.ligprod img {
    width: 100%;
    height: auto;
}

.ligprodinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Global Footer*/

.global-footer section {
    margin-bottom: 2rem;
}

.global-footer p {
    font-size: 13px;
}

.global-footer h1 {
    font-size: 27px;
    font-weight: normal;
}

.global-footer h2 {
    font-weight: normal;
    font-size: 16px;
}

.global-footer ul {
  list-style: none;
  padding: 0;
}

.global-footer ul li p strong {
    margin-right: 10px;
}

.global-footer i {
    margin-right: 1rem;
}

.global-footer nav li {
margin-bottom: 0.5rem;
}

.global-footer nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footerikon i, .footerikon a {
    display: block;
    margin-bottom: 2rem;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}